
header {
	padding: 30px $container-padding 0;
	background: $red;
	padding-bottom: 10px;

	h1 {
		margin: 0; 
		text-transform: uppercase;
		color: $white;
	}

	.intro {
		@extend %light-heading-typeface;
		color: $heading-colour;
		font-size: em(36);
		margin: 0; 
	}

	.logo a {
		color: $white;
		display: block;
		height: 0px;
		width: 0px;
	}

	nav {
		padding-top: 40px;
	}

}